<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parkovochka.space</title>
</head>
<body>
<main style="text-align: center; margin-top: 150px;">
    <img src="{{ asset('landing/logo.svg') }}" />
</main>
</body>
</html>
